<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Plot 1</td>
            <td><img src="/plot" alt=""></td>
        </tr>
        <tr>
            <td>Plot 2</td>
            <td><img src="/plot2" alt=""></td>
        </tr>
        <tr>
            <td>Plot 3</td>
            <td><img src="/plot3" alt=""></td>
        </tr>
    </table>
</body>
</html>